:root {
    --primary-color: #1778f2;
    --secondary-color: #EA8C7B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #121212;
}

/* HEADER and NAVIGATION */

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(10, 9, 9);
    align-items: center;
    flex-wrap: wrap;
    
}

header h3 {
    font-weight: bold;
    font-size: 1.75vw;
    color: var(--primary-color);
    padding: 0 20px;
}

header h3 a:hover {
    color: var(--secondary-color);
}


header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 10px 0 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    font-size: 1.65vw;
    color: var(--secondary-color);
}

section {
    padding: 30px;
}

/* ABOUT ME SECTION */

.aboutme {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.personal-bio {
    width: 35%;
    margin: 10%;
    color: white;
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
}

.personal-bio h1 {
    font-size: 45px;
    color: white;
    margin: 0 0 25px 0;
}

.personal-bio p {
    line-height: 1.5;
}

.personal-photo {
    flex: 0 12%;
    margin: 4.5%;
}

.personal-photo img {
    border-radius: 50%;
    box-shadow: 14px 6px 3px rgba(23, 120, 242, 0.75);
}

/* LIST OF SKILLS AND ABILITIES */

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    
}

.skills img{
    margin: 0 10px 0 10px;
    padding: 13px;
    height: 100px;
    width: 100px;  
}


/* MY WORK SECTION */

.section-title{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 50px;
    border-top: 2px solid var(--secondary-color);
    width: 40%;
    padding: 80px 0 50px 0;
    text-align: center;
    margin: 0 auto 20px auto;
}

.main-project {
    text-align: center;
}

.main-project img {
    width: 75%
}

.main-project h4 {
    font-weight: lighter;
    font-size: 18px;
    color: var(--primary-color)
}

.secondary-projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
}

.project {
    width: 225px;
    padding: 12px 12px 12px 12px;
}

.project img {
    width: 100%;
}

.project h4 {
    font-weight: lighter;
    font-size: 15px;
    color: var(--primary-color);
    text-align: center;
}

/* CONTACT ME SECTION */

.get-in-touch {
    font-weight: lighter;
    color: white;
    text-align: start;
    font-size: 18px;
}

.get-in-touch h4 {
    font-size: 27px;
}

.get-in-touch a {
    text-decoration: none;
    color: var(--secondary-color);
}


/* Copied from Run Buddy, then Modified */
.contact-form input, .contact-form textarea {
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 450px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgb(31, 30, 30);
    border: none;
    
}

.contact-form input:focus, .contact-form textarea:focus {
    background-color:var(--secondary-color);
    outline: none;
}

.contact-form button {
    width: 450px;
    border: none;
    background: rgb(31, 30, 30);
    color: var(--secondary-color);
    text-align: center;
    padding: 9px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: #121212;
    background: var(--secondary-color);
}

/* MEDIA QUERIES  */

/* For Phones and Tablets */

@media screen and (max-width: 980px) {
    header {   
        justify-content: center;
    }

    header h3 {
        font-size: 20px;
    }

    header nav ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 938px) {

    header h3 {
        font-size: 30px;
    }

    header nav ul li a {
        font-size: 30px;
    }

    .aboutme {
        justify-content: center;
    }

    .personal-bio {
        order: 1;
        text-align: center;
    }
    .main-project img {
        width: 100%
    }
}

@media screen and (max-width: 500px) {
    .contact-form input, .contact-form textarea {
        width: 100%;
    }
    
    .contact-form button {
        width: 100%;
    }
    .personal-bio {
        margin: 0;
        width: 100%;;
    }

    .section-title {
        width: 88%;
    }
    
}