* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-color: white; */
    background-image: linear-gradient(to top, rgb(19, 19, 19), #708772);

}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header {
    font-family: 'Goldman', cursive;
    /* font-family: 'Aldrich', sans-serif; */
    font-size: 4rem;
    height: 100%;
    transform-style: preserve-3d;
}

.name {
    margin-bottom: 50vh;
    display: flex;
    transform: translateZ(-100px) scale(10);
    width: 100%;
    object-fit: cover;
    justify-content: center;
    z-index: -1;
}

.occupation {
    transform: translateZ(-40px) scale(4);
    margin-bottom: 0;
    display: flex;
    width: 100%;
    object-fit: cover;
    justify-content: center;
    z-index: -1;
}

section {
    min-height: 100%;
    z-index: 1;
    background: radial-gradient(#072F43, #051018);
    /* background-image: linear-gradient(to bottom right, rgb(19, 19, 19), #708772); */
    position: relative;
    
    /* makes wider to remove border radius on hr's */
    width: 102vw;
    left: -1vw;
}


/* DRIP */

.cont {
    width: 100%;
    height: 250px;
    overflow: hidden;
    filter: url("#goo");
    padding-top: 77px;
}

.drip.activate {
    border-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
    background: black;
    position: absolute;
    top: -110%;
    left: 46%;
    animation: falling 2.4s ease-in-out 0.5s;
}

@keyframes falling {
    0% {
        top: -100%;
    }

    50% {
        top: 0%;

    }

    80% {
        top: 80%;
    }

    100% {
        top: 100%;

    }

}

hr {
    height: 15px;
    border-width: 0;
    color: black;
    background-color: black;
}

.lower-section-line {
    width: 80px;
    border-width: 0;
    color: transparent;
    background-color: transparent;
    margin-top: 47px;
}

.lower-section-line.activate {
    animation: lower-hr 2s ease-out forwards 0.9s;
}

@keyframes lower-hr {
    0% {
        color: transparent;
        background-color: transparent;
    }

    100% {
        width: 80px;
        color: black;
        background-color: black;
        visibility: hidden;
    }
}

.section-line-left {
    transform: translateX(-99%);
    transition: 1s;
    margin-top: -78px;
}

.section-line-right {
    transform: translateX(99%);
    transition: 1s;
    margin-top: -23px;
}


.section-line-left.activate {
    transform: translateX(-50%);
    animation: line-in-left 1s linear forwards;
}

.section-line-right.activate {
    transform: translateX(50%);
}

.box-feature {
    border-radius: 8px;
    border: 15px solid transparent;
    background-color: transparent;
    z-index: 1;
    overflow: auto;
    position: absolute;
    top: 224px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.box-feature.activate {
    animation: border-animate 5s forwards 2.8s;
}

@keyframes border-animate {

    1% {
        width: 60px;
        height: 0;
        border-top: 15px solid black;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;

    }

    5% {
        width: 130px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }

    60% {
        width: 90vw;
        border-top: 15px solid black;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        height: 2px;
    }

    61% {
        border-top: 15px solid black;
        border-left: 15px solid black;
        border-right: 15px solid black;
        height: 15px;
    }

    80% {
        border-top: 15px solid black;
        border-left: 15px solid black;
        border-right: 15px solid black;
        top: 224px;
    }

    100% {
        width: 90vw;
        height: 96%;
        top: 4%;
        overflow-y: hidden;

    }
}

.revealed-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
    height: 0;
    margin-top: 200px;
}


.revealed-content.activate {
    animation: show-div 2s linear forwards 5s;

}

@keyframes show-div {
    0% {
        visibility: hidden;
        height: 0;
    }

    50% {
        visibility: hidden;
        height: 0;
    }

    100% {
        visibility: visible;
    }
}

.box-feature::-webkit-scrollbar {
    display: none;
}



/* Bulma Inherit */
.tabs {
    width: 100%;
    margin-top: -220px;
}

.tabs ul {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.tabs a {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
}

.is-hidden {
    display: none !important;
}

.tabs li.is-active a {
    border-bottom-color: #708772;
    color: #708772;
}

.tabs a:hover {
    border-bottom-color: #363636;
    color: #363636;
}

/* Bulma END */



.initials {
    font-size: 2rem;
    font-family: 'Aldrich', sans-serif;
    padding: 0 0 0 0;
}

.page-content {
    width: 100%;
}

.section-header {
    font-family: 'Aldrich', sans-serif;
    font-size: 1rem;
    color: black;
}

/* Section Animations*/
.title-line {
    border-right: 1vmin solid black;
    left: 0px;
    top: 100px;
    line-height: 0;
    font-size: 1.75rem;
    padding: 0;
    position: absolute;
    overflow: hidden;
    color: black;
    font-family: 'Aldrich', sans-serif;
    animation: showLine 1.25s forwards;
}

@keyframes showLine {
    0% {
        line-height: 1px;
    }

    100% {
        line-height: 9vh;
    }
}

.title-text {
    transform: translate(100%, 0);
    padding-right: 20px;
    color: black;
    animation: showTitleText 0.4s forwards 1.5s;
}

@keyframes showTitleText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}



/* /////////////////////////////////////////////////////////////////////// */

/* TRASH */
.bottom-trash {
    border: 4px solid gray;
    opacity: 0;
    color: #f1f1f1;
    font-size: 1.3rem;
    transform: translateY(150px);
    transition: all .5s ease-in-out;
    background-color: transparent;
    width: 100%;
    height: 160px;
}

.bottom-trash-drag {
    transform: translateY(0);
    opacity: 1;
}

.doors {
    margin-top: 14px;
    display: flex;
    justify-content: center;
}

.left-door {
    width: 75px;
    border: 4px solid gray;
    background-color: gray;
}

.left-door-active {
    animation: open-left-door 1s forwards 1s;
}

@keyframes open-left-door {
    0% {
        transform: rotateZ(0deg);
        transform-origin: top left;
    }

    100% {
        transform: rotateZ(-135deg);
        transform-origin: top left;
    }
}

.right-door {
    width: 75px;
    border: 4px solid gray;
    background-color: gray;
}

.right-door-active {
    animation: open-right-door 1s forwards 1s;
}

@keyframes open-right-door {
    0% {
        transform: rotateZ(0deg);
        transform-origin: top right;
    }

    100% {
        transform: rotateZ(135deg);
        transform-origin: top right;
    }
}

.trash-labels {
    display: flex;

    justify-content: space-around;
}

.drop-box {
    border: 3px solid gray;
    padding: 4px 75px;
}

/* ////////////////// */

.cards {
    opacity: 0;
    animation: card-fade 1.5s ease-in forwards 1.25s;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: -100px;
}


.card {
    margin: 2%;
    width: 140px;
    height: 140px;
}

ul {
    list-style: none;
}



.list-group {
    padding: 0;
    width: 100%;
    height: 100%;
}

.list-group-item {
    border: 2px solid gray;
    width: 100%;
    height: 100%;
}

.card-content {
    color: black;
    font-family: 'Press Start 2P';
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-icon {
    font-size: 28px;
    width: 100%;
    text-align: center;
}

.card-title {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-top: -7px;
}

.card-desc {
    width: 100%;
    font-size: 12px;
    text-align: center;
}

@keyframes card-fade {
    0% {
        opacity: 0;

    }



    100% {
        opacity: 1;
    }
}
